<ion-view view-title="Statistik">
    <ion-content class="padding colored-background">
        <ion-list class="list">
            <ion-item class="item-icon-right" collection-repeat="item in result track by $index" href="#/tab/record/{{item.id}}">
                <div class="row">
                    <div class="col">
                        <h2>{{item.date}}</h2>
                        <p>{{item.name + ", " + item.club}}</p>
                    </div>
                    <div class="col col-10">
                        {{sortingIndex(options, item)}}
                    </div>
                </div>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="moreItemsCanBeLoaded()" on-infinite="addItems()"></ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="bar-positive" align-title="left">
        <h1 class="title title-left">{{displayOptions(options)}}</h1>
        <div class="buttons">
            <button class="button icon ion-chevron-up" ng-click="scrollTop()"></button>
            <button class="button icon ion-gear-a" ng-click="showOptions()"></button>
            <button class="button icon ion-search" ng-click="showSearch()"></button>
        </div>
    </ion-footer-bar>
</ion-view>